<main id="content" xmlns:th="http://www.w3.org/1999/xhtml">
                <div class="nck-container">
                    <!-- Left Column -->
                    <div class="nck-left-column">
                        <div class="nck-product-image">
                            <img id="main-image"
                                 th:src="@{/images/{image}(image=${product.image})}"

                                 alt="HADES Loveless Striped Shirt">
                        </div>
                        <div class="nck-thumbnail-container">
                            <div class="nck-thumbnail"  th:each="color : ${product.colors}">
                                <img th:src="@{/images/{image}(image=${product.image})}" onclick="changeImage(this)">

                            </div>
                            <div class="nck-thumbnail"  th:each="color : ${product.colors}">
                                <img th:src="@{/images/{image}(image=${product.imagehover})}" onclick="changeImage(this)">

                            </div>
                            <div class="nck-thumbnail"  th:each="color : ${product.colors}">

                                <img th:src="@{/images/{image}(image=${color.image})}" onclick="changeImage(this)">
                            </div>



                        </div>
                        <div class="nck-product-info">
                            <h2>THÔNG TIN</h2>
                            <ul>
                                <li th:text="'Tên sản phẩm: ' + ${product.name}"></li>
                                <li th:text="'Nội dung: ' + ${product.content}"></li>
                                <li th:text="'Mô tả: ' + ${product.detail}"></li>
                                <li th:text="'Chất liệu: ' + ${product.material}"></li>
                                <li th:text="'Số lượng trong kho: ' + ${product.quantity}"></li>



                            </ul>
                            <p class="nck-model-info">
                                Vận chuyển từ 2-3 ngày.<br>
                                Thiết kế và sản xuất bởi NCK.
                            </p>
                        </div>
                    </div>

                    <!-- Right Column -->
                    <div class="nck-right-column">
                        <h1 th:text="${product.name}"></h1>
                        <p class="nck-price" th:text="${product.price}">₫</p>
                        <p>Màu sắc</p>
                        <div class="nck-color-selection" >
    <span th:each="color : ${product.colors}"
          th:style="'background-color: ' + ${color.colorCode} + '; width: 30px; height: 30px; border-radius: 100px;margin-right:10px; padding: 5px; display: inline-block; text-align: center; color: white;'"
          th:attr="onclick='selectColor(this, &quot;' + ${color.nameColor} + '&quot;)'">
    </span>

                        </div>



                        <p>Kích thước</p>
                        <div class="nck-size-options">
                            <button th:each="size : ${product.sizes}"
                                    class="size-option"
                                    th:text="${size.name}"
                                    th:attr="onclick='selectSize(this, &quot;' + ${size.name} + '&quot;)'">
                            </button>
                        </div>

                        <a href="javascript:void(0)" class="nck-add-to-cart" id="add-to-cart" onclick="addToCart()">THÊM VÀO GIỎ</a>
                        <a href="#" class="nck-buy-now">MUA NGAY</a>
                    </div>
                </div>

    <script>
        // Thêm sản phẩm vào giỏ hàng

    </script>


    <div id="collection" class="collection-page">
                    <div class="main-content">
                        <div>
                            <div>
                                <div class="collection-sorter row cf">
                                    <div class="collection-sort inline-select">
                                        SẢN PHẨM LIÊN QUAN
                                    </div>
                                </div>
                                <div class="row filter-here">
                                    <div class="content-product-list product-list filter clearfix">
                                        <div class="col-md-3 col-sm-6 col-xs-6 pro-loop col-4" th:each="product : ${aboutInfo}">


                                            <div class="product-block product-resize fixheight"
                                                 data-anmation="38" style="height: 587px;">
                                                <div class="product-img">
                                                    <a th:href="'/detail/' + ${product.id}"
                                                       title="HADES LODESTAR BLUR TEE" class="image-resize"
                                                       style="height: 488px;">
                                                        <picture>
                                                            <source media="(max-width: 767px)" th:srcset="@{/images/{image}(image=${product.image})}" />
                                                            <source media="(min-width: 768px)" th:srcset="@{/images/{image}(image=${product.image})}" />
                                                            <img class="img-loop" alt="HADES LODESTAR BLUR TEE" th:src="@{/images/{image}(image=${product.image})}" />
                                                        </picture>

                                                        <picture>
                                                            <source media="(max-width: 767px)" th:srcset="@{/images/{image}(image=${product.imagehover})}" />
                                                            <source media="(min-width: 768px)" th:srcset="@{/images/{image}(image=${product.imagehover})}" />
                                                            <img class="img-loop img-hover" alt="HADES LODESTAR BLUR TEE" th:src="@{/images/{image}(image=${product.imagehover})}" />
                                                        </picture>

                                                    </a>
                                                    <div class="button-add" datahand="hares-lodestar-blur-tee">
                                                        <button keylanguage="mua_ngay" type="submit"
                                                                title="Mua ngay" class="action lang"
                                                                onclick="buy_now('1115607846')">MUA NGAY
                                                        </button>
                                                        <button class="action add-to-cart lang"   th:attr="data-variantid=${product.id}"  onclick="addToCartT(this)">THÊM VÀO GIỎ</button>

                                                    </div>
                                                </div>


                                                <div class="sub-variant-option">


                                                    <div class="product-loop-variant" th:each="color : ${product.colors}">
                                                        <div class="product-loop-variant-span" th:classappend="' ' + ${color.name}"></div>
                                                        <div class="product-loop-variant-span-ck" th:classappend="' ' + ${color.nameColor}"></div>

                                                    </div>


                                                </div>


                                                <div class="product-detail clearfix">
                                                    <div class="box-pro-detail">
                                                        <h3 class="pro-name">
                                                            <a class="font-oswald"
                                                               href="/products/hares-lodestar-blur-tee"
                                                               title="HADES LODESTAR BLUR TEE" th:text="${product.name}">
                                                            </a>
                                                        </h3>
                                                        <div class="box-pro-prices">
                                                            <p class="pro-price" th:text="${product.price}" >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>