<div class="swiper-container-noti swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="message-text">
        <span class="message-text-title">WELCOME TO MY SHOP</span>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="message-text">
        <span class="message-text-title">MY NAME IS NGUYEN CAO KY</span>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="message-text">
        <span class="message-text-title">I GLAD TO SEE YOU</span>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="message-text">
        <span class="message-text-title">ENJOYMENT IN THIS WEBSITE</span>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="message-text">
        <span class="message-text-title">ORDER KNOW</span>
      </div>
    </div>
  </div>
</div>
