<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="admin">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Trang chủ</span>
      </a>
    </li>
    <li class="nav-item nav-category">NCK SHOPS</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
         aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Quản lý sản phẩm</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="loaisanpham">Loại sản phẩm</a></li>
          <li class="nav-item"> <a class="nav-link" href="sanpham">Sản phẩm</a></li>
          <li class="nav-item"> <a class="nav-link" href="mausac">Màu sắc</a></li>
          <li class="nav-item"> <a class="nav-link" href="kichco">Kích cỡ</a></li>

        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="donhang">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title" href="donhang">Đơn hàng</span>
      </a>
    </li>

  </ul>
</nav>